<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DAnTE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Inferno.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DAnTE.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value/>
            </setting>
            <setting name="WorkingFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="colCustLow" serializeAs="String">
                <value/>
            </setting>
            <setting name="colCustMid" serializeAs="String">
                <value/>
            </setting>
            <setting name="colCustHigh" serializeAs="String">
                <value/>
            </setting>
            <setting name="ellipseCol" serializeAs="String">
                <value/>
            </setting>
            <setting name="histFore" serializeAs="String">
                <value/>
            </setting>
            <setting name="histBrdr" serializeAs="String">
                <value/>
            </setting>
            <setting name="boxplotCol" serializeAs="String">
                <value/>
            </setting>
            <setting name="maplotDcol" serializeAs="String">
                <value/>
            </setting>
            <setting name="maplotLcol" serializeAs="String">
                <value/>
            </setting>
            <setting name="DataFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SessionFileName" serializeAs="String">
                <value/>
            </setting>
            <setting name="qqForeCol" serializeAs="String">
                <value/>
            </setting>
            <setting name="qqBkCol" serializeAs="String">
                <value/>
            </setting>
            <setting name="qqLCol" serializeAs="String">
                <value/>
            </setting>
            <setting name="msmsFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="msmsAnalysisFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="colorMap" serializeAs="String">
                <value/>
            </setting>
            <setting name="colorMapType" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="corrCustLow" serializeAs="String">
                <value/>
            </setting>
            <setting name="corrCustMid" serializeAs="String">
                <value/>
            </setting>
            <setting name="corrCustHigh" serializeAs="String">
                <value/>
            </setting>
            <setting name="useGG" serializeAs="String">
                <value>False</value>
            </setting>
        </DAnTE.Properties.Settings>
        <Inferno.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value/>
            </setting>
            <setting name="WorkingFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="corrCustLow" serializeAs="String">
                <value/>
            </setting>
            <setting name="corrCustMid" serializeAs="String">
                <value/>
            </setting>
            <setting name="corrCustHigh" serializeAs="String">
                <value/>
            </setting>
            <setting name="ellipseCol" serializeAs="String">
                <value/>
            </setting>
            <setting name="histFore" serializeAs="String">
                <value/>
            </setting>
            <setting name="histBrdr" serializeAs="String">
                <value/>
            </setting>
            <setting name="boxplotCol" serializeAs="String">
                <value/>
            </setting>
            <setting name="maplotDcol" serializeAs="String">
                <value/>
            </setting>
            <setting name="maplotLcol" serializeAs="String">
                <value/>
            </setting>
        </Inferno.Properties.Settings>
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
